html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards {
    background: coral;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    box-sizing: border-box;
}

.card {
    height: 85%;
    width: 30%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.icon {
    height: 20%;
    width: 25%;
    position: relative;
    bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
}

.header {
    font-size: calc(1rem + 0.5vw);
}

.some-text {
    box-sizing: border-box;
    text-align: center;
    font-size: 3vh;
    padding: 5vh;
}

.button {
    height: 6vh;
    width: 12vw;
    font-size: 1.5vw;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

.br-rad {
    border-radius: 50%;
}

.transparency {
    color: rgb(0, 0, 0, 0.5);
}

.h50 {
    height: 85%;
}

.w179 {
    width: 30%;
}

.color {
    color: #ec9216;
}