@media screen and (min-width: 600px) and (max-width: 1000px) {
    .box2 {
        display: none;
    }

    .box3-7 {
        width: 100%;
    }

    .box3 {
        height: 15%;
    }

    .box4 {
        height: 20%;
        flex-wrap: wrap;
    }

    .inbox4 {
        height: 40%;
        width: 40%;
    }

    .box5 {
        width: 100%;
        height: 35%;
        border-right: none;
    }

    .box6 {
        width: 100%;
        height: 22%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .inbox6-3 {
        height: 90%;
        width: 40%;
        justify-content: space-between;
    }

    .box6 > .inbox6-3 > .inbox6 {
        width: 100%;
        height: 27%;
    }

    .inbox6 {
        width: 40%;
        height: 90%;
        margin-top: 10px;
    }

    .box7 {
        height: 8%;
    }
}