@media screen and (min-width: 600px) and (max-width: 1000px) {
    .box2 {
        display: none;
    }

    .box3-7 {
        width: 100%;
    }

    .box3 {
        height: 15%;
    }

    .box4 {
        height: 20%;
    }

    .box5 {
        width: 100%;
        height: 35%;
        border-right: none;
    }

    .box6 {
        width: 100%;
        height: 22%;
    }

    .box7 {
        height: 8%;
    }
}