@media screen and (min-width: 0) and (max-width: 600px) {
    .box1 {
        height: 4%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .inbox1 {
        height: 25%;
        margin: 0;
    }

    .inbox1-bottom {
        width: 90%;
    }

    .box2 {
        display: none;
    }

    .box3-7 {
        width: 100%;
        height: 96%;
    }

    .box3 {
        height: 11%;
    }

    .box4 {
        height: 15%;
        flex-wrap: wrap;
    }

    .inbox4 {
        height: 40%;
        width: 40%;
    }

    .box5 {
        width: 100%;
        height: 34%;
        border-right: none;
    }

    .box6 {
        width: 100%;
        height: 35%;
        justify-content: space-evenly;
    }

    .inbox6-3 {
        height: 45%;
        width: 90%;
        justify-content: space-between;


    }

    .box6 > .inbox6-3 > .inbox6 {
        width: 100%;
        height: 27%;
        margin: 0;
    }

    .inbox6 {
        height: 45%;
        width: 90%;
        margin: 0;
    }

    .box7 {
        height: 5%;
    }
}