html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrap {
    height: 100%;
    width: 100%;
    border: #2f2f2f solid 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divA {
    width: 98.5%;
    height: 30%;
    box-sizing: border-box;
}

.divBF {
    height: 66%;
    width: 98.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.divBCDE {
    height: 100%;
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divB {
    height: 49%;
    width: 100%;
}

.divCDE {
    height: 49%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divF {
    height: 100%;
    width: 20%;
}

.bg-silver {
    background: silver;
    color: #32363a;
}

.border-radius {
    border-radius: 8px;
}

.text-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vw);
}

.CDE {
    height: 100%;
    width: 32.5%;
}

@media screen and (min-width: 0) and (max-width: 900px) {
    .divA {
        height: 12%;
        width: 92%;
    }

    .divBF {
        flex-direction: column;
        height: 70%;
        width: 92%;
    }

    .divBCDE {
        width: 100%;
        height: 75%;
    }

    .divB {
        height: 65%;
    }

    .divCDE {
        height: 24%;
    }
    .CDE {
        height: 100%;
        width: 28%;
    }
    .divF {
        width: 100%;
        height: 17%;
    }

    .border-radius {
        border-radius: 25px;
    }
}

