html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrap {
    height: 90%;
    width: 58%;
    border: #2f2f2f solid 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divA {
    width: 98%;
    height: 30%;
}

.divBF {
    height: 66%;
    width: 98%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.divBCDE {
    height: 100%;
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divB {
    height: 49%;
    width: 100%;
}

.divCDE {
    height: 49%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divF {
    height: 100%;
    width: 20%;
}

.bg-silver {
    background: silver;
    color: #32363a;
}

.border-radius {
    border-radius: 8px;
}

.text-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vw);
}

.CDE {
    height: 100%;
    width: 32%;
}

